.movies-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 150px;
}

@media (max-width: 1000px) {
  .movies-page {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .movies-page {
    grid-template-columns: 1fr;
  }
}
