.movie-card {
  background: #111;
  border-radius: 15px;
  overflow: hidden;
  padding: 15px;
  color: rgb(255, 255, 255);
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.meta {
  font-size: 14px;
  color: gray;
}

.rating {
  margin-top: 5px;
  color: #ff2d55;
  font-weight: bold;
}
.description {
  font-size: 13px;
  color: #bbb;
  margin-top: 10px;
  line-height: 1.5;
}
