* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #0f0f0f;
  color: #ffffff;
   margin: 0;
  padding: 0;
}

/* Inputs */
input {
  background: #1e1e1e;
  border: 1px solid #333;
  color: white;
  padding: 10px;
  width: 250px;
  border-radius: 6px;
}

input:focus {
  outline: none;
  border-color: #e50914;
}

/* Buttons */
button {
  background: #e50914;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #f6121d;
}
@media (max-width: 768px) {

  .footer-container {
    flex-direction: column;
    gap: 40px;
  }

  .movie-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .video-wrapper {
    height: 250px;
  }

  .trailer-thumbnails {
    overflow-x: auto;
  }

}
/* GLOBAL RESPONSIVE RESET */
* {
  box-sizing: border-box;
}

img, iframe {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  overflow-x: hidden;
}
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0d0d0d;
}

.auth-box {
  background: #1b1b1b;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-box input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.auth-box button {
  background: #ff2e63;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-box button:hover {
  opacity: 0.9;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-box {
  background: #111;
  padding: 30px;
  width: 350px;
  border-radius: 12px;
  text-align: center;
}

.modal-box h2 {
  color: white;
  margin-bottom: 20px;
}

.modal-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: none;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background: #ff2d55;
  border: none;
  color: white;
  border-radius: 6px;
  margin-top: 10px;
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.user-email {
  background: #ff2d55;
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
